# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.local
server/.env
client/.env

# Build outputs
client/dist/
client/dist-ssr/

# Server Uploads
server/uploads/*
!server/uploads/.gitkeep

# System & IDE files
.DS_Store
.vscode/
.idea/
*.log